<!DOCTYPE html>

<html lang="en" layout:decorate="~{modelo}">
    <head>
        <meta charset="UTF-8">
        <title>Modulo ADM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <style type="text/css">
        </style>

    </head>

    <body>

        <main role="main" layout:fragment="conteudo">

            <div class="jumbotron">
                <div class="">
                    <h2 class="display-4 mt-2" >Alterar Status Venda</h2>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group"> 
                            <form th:action="@{/relatorio/venda/alterar}" th:object="${venda}" method="post">

                                <div class="input-group col-md-6" style="display: none;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">ID</span>
                                    </div>
                                    <input type="hidden" th:field="*{idVenda}" class="form-control">
                                </div>                                

                                <div class="input-group col-md-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Data venda</span>
                                    </div>
                                    <input type="text" name="" th:field="*{dataVenda}" class="form-control col-sm-6"> 
                                </div>

                                <div class="input-group col-md-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Código compra</span>
                                    </div>
                                    <input type="text" th:field="*{codigoCompra}" class="form-control" readonly="true">
                                </div>

                                <div class="form-group col-md-6" style="margin-top: 10px;">
                                    <label for="exampleFormControlTextarea2">Status pedido</label>
                                    <select th:field="*{statusPedido}">
                                        <option value="Aguardando aprovação">Aguardando aprovação</option>
                                        <option value="Pagamento aprovado">Pagamento aprovado</option>
                                        <option value="A caminho">A caminho</option>
                                        <option value="Entregue">Entregue</option>
                                    </select>
                                </div>

                                <div class="input-group col-md-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Nome cliente</span>
                                    </div>
                                    <input type="text" th:field="*{nome}" class="form-control" readonly="true">
                                </div>

                                <div class="row" style="margin-left: 0px; margin-top: 10px;">
                                    <div class="form-group blu-margin col-md-3" >
                                        <label for="country">Preço total</label>
                                        <input type="number" th:field="*{totalVenda}" class="form-control">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-secondary" style="margin-left: 12px;">Salvar</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    </body>

</html>
