<!DOCTYPE html>

<html lang="en" layout:decorate="~{modelo}">
    <head>
        <meta charset="UTF-8">
        <title>Modulo ADM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <style type="text/css">
        </style>

    </head>

    <body>

        <main role="main" layout:fragment="conteudo">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h2 class="display-4" style="font-size:3em;" >Cadastro Produto</h2>

                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> 
                            <label for="nome" class="col-sm-3 control-label">Nome</label> 
                            <div class="col-12"> 
                                <input type="text" name="nome" id="nome" maxlength="25" class="form-control" placeholder="Nome do produto"><br>
                            </div>

                            <label for="descricao" class="col-sm-3 control-label">Descrição</label> 
                            <div class="col-12"> 
                                <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Descrição do produto"><br>
                            </div>

                            <label for="fabricante" class="col-sm-3 control-label">Fabricante</label> 
                            <div class="col-12"> 
                                <input type="text" name="fabricante" id="fabricante" class="form-control" placeholder="Fabricante do produto"><br>
                            </div>

                            <label for="qnt" class="col-sm-3 control-label">Quantidade</label>
                            <div class="col-12">
                                <input type="number" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Quantidade em estoque" required="">
                            </div>

                            <label for="peso" class="col-sm-3 control-label">Peso</label>
                            <div class="col-12">
                                <input type="number" class="input-block-level" autocomplete="off" maxlength="6" pattern="\d{6}" title="Peso do produto" required=""><br>
                            </div>

                            <label for="velocidade" class="col-sm-3 control-label">Velocidade máx.</label>
                            <div class="col-12">
                                <input type="number" class="input-block-level" autocomplete="off" maxlength="3" pattern="\d{3}" title="Velocidade máx." required=""> K/h<br>
                            </div>

                            <label for="durBateria" class="col-sm-3 control-label">Duração da bateria</label>
                            <div class="col-12">
                                <input type="number" class="input-block-level" autocomplete="off" maxlength="6" pattern="\d{6}" title="Duração da bateria" required=""> mAh<br>
                            </div>

                            <label class="col-sm-3 control-label" for="camera">Câmera</label>
                            <div class="col-12"> 
                                <input type="radio" name="camera" id="cameraSim" value="1" checked> Sim<br>
                                <input type="radio" name="camera" id="cameraNao" value="0"> Não<br>
                            </div>



                        </div>



                    </div>

                </div>

            </div>
            <!-- /container -->

        </main>

        <footer class="container">
            <p>&copy; Leon's Dev - 2018</p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    </body>

</html>
