<html lang="en" layout:decorate="~{modelo}">
    <head>
        <meta charset="UTF-8">
        <title>Modulo ADM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <style type="text/css">

        </style>

    </head>

    <body>
        <main role="main" layout:fragment="conteudo">

            <div class="jumbotron">
                <div class="container">
                    <h2 class="display-4 mt-4" style="font-size:3em;">Consultar Preço</h2>
                </div>
            </div>

            <div class="container">

                <div class="row">

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Valor</th>
                                <th scope="col">Data Criação</th>
                                <th scope="col">Data Alteração</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="pre :${session.listaPrecos}">
                                <td th:text="${pre.preco}"></td>
                                <td th:text="${pre.dataCriacao}"></td>
                                <td th:text="${pre.dataAlteracao}"></td>
                                <td>
                                    <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/cadastrar/preco/{id}(id=${pre.IdPrrco})}">Alterar</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>  


                </div>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    </body>
</html>
