<!DOCTYPE html>
<html lang="en" layout:decorate="~{modelo}">

    <head>
        <meta charset="UTF-8">
        <title>Modulo ADM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <style type="text/css">
        </style>

    </head>

    <body>
        <main role="main" layout:fragment="conteudo">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Bem Vindo!</h1>
                    <p>Este é o sistema para a gerencia dos produtos e relatórios do e-commerce Drones Store.</p>
                    <p>
                        <a th:href="@{/home/consultarProduto}" role="button" class="btn btn-primary btn-lg">Consultar Produto &raquo;</a>
                    </p>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">


                </div>

            </div>
            <!-- /container -->

        </main>

        <footer class="container">
            <p>&copy; Leon's Dev - 2018</p>
        </footer>

        <!-- Bootstrap core JavaScript
                    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    </body>

</html>