<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Modulo ADM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <style type="text/css">
            .btn {
                width: 40%;
                margin-left: 30%;
            }
        </style>

    </head>


    <body>
        <div class="container" style="
             width: 330px;
             height: 545px;">

            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-4">
                        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                        <h1 class="h3 mb-3 font-weight-normal">Drones Store</h1>
                        <p>Módulo de Gerenciamento</p>
                    </div>
                </div>
            </div>

            <div class="row" id="login">

                <div class="col-12">
                    <form th:action="@{/login/logando}" th:object="${login}" method="post">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="user" th:field="*{user}" class="form-control" placeholder="Email address">
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password"  id="inputPassword" name="senha" th:field="*{senha}" class="form-control" placeholder="Password">
                            <label for="inputPassword">Password</label>
                        </div>

                        <div>
                            <!-- if -->
                            <div th:if="${session.erroLogin != null}">
                                <p th:text="${session.erroLogin}">user incorreto<p>
                            </div>

                        </div>

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    </form>
                </div>

            </div>

            <div class="row" style="margin: 60px;">
                <div class="col-12">
                    <p class="mt-5 mb-3 text-muted text-center">©Leon's Dev 2018</p>
                </div>
            </div>

        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    </body>
</html>
